* {
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 222vh;
    background-color: #F5F7FA;
}

.Container {
    margin: auto;
    display: grid;
    grid-template-columns: 0.33fr 1fr;
    width: 225mm;
    height: 350mm;
    overflow: hidden; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.Container .cuadro1 
{
    padding: 40px 40px;
    padding-left: 35px;
    background-color: #B794F4;
    width: 100%;
    color: #ffffff;
}

.Container .cuadro1 .contacto
{
    margin-top: 10px;
}

.Container .cuadro1 .contacto>* 
{
    width: 100%;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    margin-top: 10px;
    align-items: center;
}

.Container .cuadro1 .contacto>* .text
{
    display: inline-flex;
    word-break: break-all;
}

.Container .cuadro1 .Habilidades
{
    margin-top: 35px;
}

.Container .cuadro1 .Habilidades ul li
{
    margin-bottom: 10px;
}

.Container .cuadro1 .Actitudes
{
    margin-top: 35px;
}

.Container .cuadro1 .Actitudes>* 
{
    width: 100%;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    margin-top: 10px;
    align-items: center;
}

.Container .cuadro1 .Lenguaje
{
    margin-top: 35px;
}

.Container .cuadro1 .Lenguaje .punto
{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #5f6874;
    border-radius: 50%;
    margin-left: 4px;
}

.Container .cuadro1 .Lenguaje .punto.active
{
    background-color: #E4E7EB;
}

.Container .cuadro2 
{
    background-color: #F5F7FA;
    padding: 40px 20px;
    padding-right: 75px;
    color: #5f6874;
}

.Container .cuadro2 .Nombre 
{
    font-size: 1.9em;
    color: #5f6874;
    font-weight: 500;
}

.Container .cuadro2 .Cuadro3
{
    display: inline-block;
    padding: 2px 70px 2px 20px;
    margin-left: -20px;
    margin-top: 35px;
    background-color: #DDB0FF;
    color: #ffffff;
} 

.Container .cuadro2 .Personal .Resumen
{
    margin-top: 15px;
    line-height: 1.5;
    color: #5f6874;
}

.Container .cuadro2 .Personal2 .Educacion
{
    margin-top: 15px;
    margin-left: 20px;
}

.Container .cuadro2 .Personal3 .Experiencia
{
    margin-top: 15px;
    margin-left: 20px;
}

.Container .cuadro2 .Personal3 .Diploma
{
    margin-top: 15px;
    margin-left: 20px;
}


